<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Stark Naked Poultry</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <header>
            <h1>Stark Naked Poultry</h1>
        </header>

        <div class="container">
            <img class="logo" th:src="@{/images/Logo-removebg-preview.png}" alt="Stark Naked Poultry Logo">

            <p>Pasture Raised Chicken in Ewing, Missouri</p>

            <a href="/order"><button class="order-button">Order Now</button></a>
        </div>
    </body>
</html>